body {
  padding-top: 70px;
}
.bg-header{
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(7,203,201);

}
.header-a{
  color: #FFFFFF;
}
.cont{
  min-height: calc(100vh - 130px);
}
.errorPage{
  padding: 13%;
}
.errorh1 {
  font-size: 5.0em;
  margin: 15px 0px;
  font-weight: bold;
}

.signin {
  max-width: 500px;
  padding: 30px;
  margin: 8% auto;
  border: 1px solid #dcdfe6;
}
.signBtn{
  margin-left: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none; 
}
.logOut{
  color: #FFFFFF;
  border: none;
  background-color: transparent;
  outline: none; 
}
.signBtn:hover{
  color:  rgb(7,203,201);
}
.margin-top{
  margin-top:10px!important;
}
.m-t-35{
  margin-top:35px!important;
}
.m-t-20{
  margin-top:20px!important;
}
.margin-left{
  margin-left:10px!important;
}
.signup {
  max-width: 500px;
  padding: 30px;
  margin: 0 auto;
  border: 1px solid #dcdfe6;
}
.userPanel{
  padding-top:15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logOut:hover{
  color:  #000000;
}
.helloText{
  color: #4c4c4c;
  margin-left:5px
}
.aboutImg{
  width: 100%;
  background-position: center,center;
  background-size: cover;
}

.about-content{
  color:#ffffff;
  position: absolute;
  margin-top: -160px;
  width:1100px;
  margin-left:10px;
}
.about-text{
  font-size: 16px;
}
.contactUs{
  display: flex;
  justify-content: center;
  align-items: center;
}
.labels{
  font-weight: bold;
}
.policy-main{
    font-size: 18px;
    line-height: 1.5;
}
.policy-title{
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 50px;
  font-weight: normal;
}
.course{
  font-size: 18px;
  line-height: 1.5;
}
.course-text{
  color: #555;
  /* font-weight:; */
}
.no-point{  
list-style:none;
}

.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.news{
  text-indent:20px;
  font-size: 18px;
  line-height: 1.5;
}
.new-panel{
  height: 420px;
}
.news-image{
  height: 354px;
  width: 100%;
  display: block;
}
.news-image-item{
  height: 600px; width: 100%; display: block;
}
.news-link{
  color: #333;
}

.homepage{

}
.home-about{
  margin:auto 20% ;
  margin-bottom: 20px;
}
.home-about-title{
  color: #333;
  font-size: 12px;
  line-height: 1.5;
}
.home-about-line{
  border-bottom-color: #07CBC9!important;
  border-bottom-width: 3px !important;
  border-bottom: 1px solid #07CBC9;
  width: 40px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.num-panel{
 
  /* margin-left: -25px; */
  margin-bottom: 20px;
  height: 120px;
  width: 180px;
  border: 1.5px solid #07CBC9;
}
.home-about-h1 {
  font-size: 5.0em;
  margin: 15px 0px;
  font-weight: bold;
}
.font-bold{
  font-weight: bold;
}
.home-about-text{
 margin: auto 30%;
 color: #909399;
}
.row-img{
  height: 310px; width: 100%; display: block;
}
.row-text{
  color: #FFFFFF;
  height: 310px;
  width: 100%;
  display: block;
  padding: 15px 30px;
  background-color:  rgb(7,203,201);
}
.row-text-h5{
  line-height: 1.5;
}
.row-text-text{
  color: #909399;
  font-size: 12px;
}
.home-gallery{
  margin:auto 5%;
}
.about-panel{
  border:none !important;
}
.home-panel{
  height: 300px;
  border:none !important;
}
.about-image{
  height: 100%; width: 480px; display: block;
}
.home-image{
  height: 230px; width: 100%; display: block;
}
.gallery-text{
  height: 20%;
  background-color: #000;
  color: #fff;
  padding: 7% 4%;
}

.home-graphic{
  margin: 0;
  padding-right: 0;
  padding-left: 0;
}
.p-m-0{
  margin: 0 !important;
  padding: 0 !important;
}
.word-text{
  padding-left: 20px !important;
}
.cover-panel{
  position: absolute;
  z-index: 999;
  height: 200px;
  width: 300px;
  background-color:rgba(255,255,255,0.5);
  border: 0.5px solid #C0C4CC;
  padding:25px 25px;
  color:#000000;
  font-family:  arial;
}
/*
 * Footer
 */

.footer {
  text-align: center;
  background-color: rgb(7,203,201);
  border-top: 1px solid #e5e5e5;
}
.footer-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  list-style-type:none;
  padding-top:3px;
}
.footer-p{
  padding-bottom:3px ;
  color: #FFFFFF;

}
.footer-a {
  margin-left: 15px;
  color: #FFFFFF;
}
